
.locationContent{
  height: 119px;
  text-align: center;
  color:red;
  background-color: beige;
  border-radius: 2px;
  margin:3%;
  width: 170px;
  margin-left: 10%;
}
.location_position{
    padding:30px;
}
.delete_location{
  background: none;
  color:green;
}