.ccontainer{
    /* margin: auto; */
    width: 50%;
    margin-top: 40px;   
    margin-left: 20%; 
}
legend
{
	font-size:14px;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}
fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}	
select{
    padding: 10px;   
}
select[multiple], select[size] {
    height: 100px;
    width: 170px;
}

#err{
    color: red;
}
input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
 